<div class="overflow-x-auto h-full">
  <table class="min-w-full bg-electrolux-gray border border-gray-200 rounded-lg shadow-md">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-electrolux-dark-gray font-bold">Nome</th>
        <th class="px-4 py-2 text-left text-electrolux-dark-gray font-bold">Preço</th>
        <th class="px-4 py-2 text-left text-electrolux-dark-gray font-bold">Categoria</th>
        <th class="px-4 py-2 text-center text-electrolux-dark-gray font-bold">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items; track item.id) {
        <tr class="border-t border-gray-200 hover:bg-gray-50">
          <td class="px-4 py-2 text-electrolux-dark-gray">{{ item.name }}</td>
          <td class="px-4 py-2 text-electrolux-dark-gray">R$ {{ item.price | number: '1.2-2' }}</td>
          <td class="px-4 py-2 text-electrolux-dark-gray">{{ item.category }}</td>
          <td class="px-4 py-2 text-center">
            <button
              class="bg-electrolux-blue text-white px-4 py-1 rounded filter hover:brightness-75 duration-300"
              (click)="openModal(item)"
            >
              Detalhes
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (isModalOpen) {
  <app-product-details-modal [product]="selectedProduct" (close)="closeModal()"></app-product-details-modal>
}
