<footer class="bg-[#F4F5F7] py-4 text-center">
  <p class="text-gray-600">
    &copy; 2025 <a href="https://me-zeta-ivory.vercel.app/home" class="text-blue-500 hover:underline">Mateus Vinícius da Silva</a>. Todos os direitos reservados.
  </p>
  <div class="mt-2">
    <a
      href="https://www.linkedin.com/in/mateus-vin%C3%ADcius-da-silva-8156301a5/"
      target="_blank"
      class="text-blue-500 hover:underline mx-2"
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>
    <a
      href="https://me-zeta-ivory.vercel.app/home"
      target="_blank"
      class="text-blue-500 hover:underline mx-2"
      rel="noopener noreferrer"
    >
      Portfólio
    </a>
  </div>
</footer>
