<footer class="bg-electrolux-gray py-4 text-center">
  <p class="text-electrolux-dark-gray">
    &copy; 2025
    <a href="https://me-zeta-ivory.vercel.app/home" class="text-electrolux-blue hover:underline"
      >Mateus Vinícius da Silva</a
    >. Todos os direitos reservados.
  </p>
  <div class="mt-2">
    <a
      href="https://www.linkedin.com/in/mateus-vin%C3%ADcius-da-silva-8156301a5/"
      target="_blank"
      class="text-electrolux-blue hover:underline mx-2"
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>
    <a
      href="https://me-zeta-ivory.vercel.app/home"
      target="_blank"
      class="text-electrolux-blue hover:underline mx-2"
      rel="noopener noreferrer"
    >
      Portfólio
    </a>
  </div>
</footer>
