.bg-white {
  border: 2px solid;
}

.text-green-500 {
  color: #10b981;
}

.text-red-500 {
  color: #ef4444;
}

.border-green-500 {
  border-color: #10b981;
}

.border-red-500 {
  border-color: #ef4444;
}

button {
  font-weight: bold;
  text-transform: uppercase;
}
