@if (isOpen) {
  <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <div
      class="bg-white w-full max-w-md rounded-lg shadow-lg p-6 relative"
      [ngClass]="{ 'border-green-500': type === 'success', 'border-red-500': type === 'error' }"
    >
      <h2
        class="text-xl font-bold mb-4"
        [ngClass]="{ 'text-green-500': type === 'success', 'text-red-500': type === 'error' }"
      >
        {{ type === 'success' ? 'Sucesso!' : 'Erro!' }}
      </h2>
      <p class="mb-6">{{ message }}</p>
      <button
        class="bg-electrolux-blue text-white px-4 py-2 rounded hover:bg-blue-900 duration-300 w-full"
        (click)="closeModal()"
      >
        Fechar
      </button>
    </div>
  </div>
}
