<!-- Botão para abrir o modal -->
@if (!editMode) {
  <div class="text-right mb-4">
    <button
      (click)="openModal()"
      class="bg-electrolux-blue text-white px-4 py-2 rounded hover:bg-electrolux-gray hover:text-electrolux-blue duration-500"
    >
      Criar Novo Produto
    </button>
  </div>
}

<!-- Modal -->
@if (isModalOpen) {
  <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 p-4 sm:p-0">
    <div class="bg-electrolux-gray w-full max-w-md sm:max-w-3xl rounded-lg shadow-lg p-4 sm:p-6">
      <h2 class="text-base sm:text-lg font-semibold text-gray-700 mb-4">Criar Novo Produto</h2>

      <form [formGroup]="productForm" (ngSubmit)="submitForm()">
        <!-- Nome -->
        <div class="mb-4">
          <label for="name" class="block text-electrolux-dark-gray font-medium mb-2">Nome</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            name="name"
            class="w-full border rounded-lg p-2 text-sm sm:text-base"
            required
          />
          @if (productForm.get('name')?.invalid && productForm.get('name')?.touched) {
            <div class="text-red-500 text-xs sm:text-sm">Nome é obrigatório e deve ter pelo menos 3 caracteres.</div>
          }
        </div>

        <!-- Categoria -->
        <div class="mb-4">
          <app-category-select
            [selectedCategoryName]="productForm.get('category')?.value"
            (categoryChange)="
              productForm.get('category')?.setValue($event); productForm.get('category')?.markAsTouched()
            "
          ></app-category-select>
          @if (productForm.get('category')?.invalid && productForm.get('category')?.touched) {
            <div class="text-red-500 text-xs sm:text-sm">
              Categoria é obrigatória e deve ter pelo menos 3 caracteres.
            </div>
          }
        </div>

        <!-- Preço -->
        <div class="mb-4">
          <label for="price" class="block text-electrolux-dark-gray font-medium mb-2">Preço</label>
          <input
            type="number"
            id="price"
            formControlName="price"
            name="price"
            class="w-full border rounded-lg p-2 text-sm sm:text-base"
            required
          />
          @if (productForm.get('price')?.invalid && productForm.get('price')?.touched) {
            <div class="text-red-500 text-xs sm:text-sm">Preço deve ser maior que 0.</div>
          }
        </div>

        <!-- Botões -->
        <div class="flex flex-col sm:flex-row justify-end space-y-2 sm:space-y-0 sm:space-x-4">
          <button
            type="button"
            (click)="closeModal()"
            class="bg-gray-300 text-gray-700 px-4 py-2 rounded hover:bg-gray-400 text-sm sm:text-base"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="bg-electrolux-blue text-white px-4 py-2 rounded hover:filter hover:brightness-125 cursor-pointer text-sm sm:text-base"
          >
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
}

<app-feedback-modal
  [isOpen]="feedbackModalProperties.isOpen"
  [message]="feedbackModalProperties.message"
  [type]="feedbackModalProperties.type"
  (close)="feedbackModalProperties.close()"
></app-feedback-modal>

@if (isLoading) {
  <app-loading [isLoading]="isLoading"></app-loading>
}
